*{
  margin: 5px;
  padding:5px;
box-sizing: border-box;
}
body{
  background-color:lightsteelblue;
}


.App{
display: flex;
align-items: center;
flex-wrap: wrap;
font-size: 15px;
text-align: center;

}
img{
  height: 300px;
  width: 300px;
border-radius: 50%;
border-color: 5px solid black;
color:cornflowerblue;
}

h1{
  font-size:25px;
}
h2{
  color:darkred;
}
